.Takeqution {


    select {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 16px;
    }

    label {
        font-size: 1.2rem;
        color: teal;
    }

    option {
        font-size: 16px;
        background-color: #fff;
    }

    form {
        width: 50%;
        display: block;
        margin-top: 50px;
        margin-inline: auto;
        justify-content: start;
        padding: 40px;
        border: 1px solid teal;
        border-radius: 10px;


        label {
            margin-top: 10px;
            display: block;
        }

        select {
            margin-top: 10px;
        }

        textarea {
            outline: none;
            margin-block: 10px;
            width: 100%;
            border-radius: 10px;
            padding: 15px;
            font-size: 0.9rem;
        }

        input {
            margin-block: 10px;
            display: block;
            outline: none;
            border-radius: 10px;
            padding: 15px;
            font-size: 0.9rem;

        }

        .button-primary {
            margin-top: 40px;
            width: 40%;
            margin-inline: auto;
        }

    }

}