// NotFound.scss
.not-found {
    text-align: center;
    padding: 20px;

    h1 {
        margin-top: 200px;
        font-size: 36px;
        color: #FF5733;
    }

    p {
        font-size: 18px;
    }
}