.TakeExam {
    margin-top: 20px;
    width: 80%;
    margin-inline: auto;

    .allcatagoy {
        display: flex;
        justify-content: center;
        gap: 10px;
        margin-inline: auto;
    }

    h3 {
        font-size: 1.5rem;
        color: rgb(235, 66, 66);
    }

    h2 {
        padding-block: 5px;
        color: teal;
    }

    h1 {
        margin-top: 150px;
        color: rgb(219, 49, 49);
        text-align: center;
    }

    .setbtnOff {
        display: none;
    }

    .setbtnon {
        display: block;
    }

    .qutiondiv {
        margin-block: 15px;
        border: 1px solid teal;
        border-radius: 20px;
        padding: 20px;

        p {
            line-height: 30px;
            color: rgb(2, 114, 114);
            font-size: 1.5rem;
        }

        .handleInput {
            display: flex;
            align-items: center;
            width: 50%;
            margin-block: 8px;
        }


        label {
            font-size: 1rem;
        }

        input {
            width: 10%;
        }
    }

    .que {
        font-size: 1rem;
        color: teal;
    }

    .que {
        font-size: 1.2rem;
        color: rgb(221, 49, 49);
    }

    .ans {
        font-size: 1.2rem;
    }


    .wrongQue {
        margin-block: 10px;
        padding: 10px;
        border: 1px solid teal;
        border-radius: 10px;
    }
}